.App {
  text-align: center;
}

.App-logo {
  height: 40px; /* Reducir el tamaño del logo */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacia los elementos entre sí */
  padding: 20px; /* Añadir un poco de padding al header */
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center; /* (Opcional) Centrar el contenido verticalmente */
  flex-direction: column; /* Asegura que los elementos se dispongan en columna */
  margin: 20px 0; /* Espacio vertical entre los contenedores */
}
